[2019-05-09 09:15] josiahseaman opened #1 "Decide on the Technology Stack"
We'll need to agree on a set of technologies to build VG browser on.  We need frameworks that 1) Are a good fit for the problems we need to solve and 2) team members are familiar with so we can maximize productivity.  This project will necessarily involve multiple languages and will definitely contain a JavaScript layer.  In each comment, please make a case for technologies you would like to use a

[2019-05-09 09:53] subwaystation commented on #1
The only experience I have so far is **data structure:** `C++` -> **bindings:** `nbind.js` -> **server:** `node.js` -> **client:** `JavaScript`. The question is, if `node.js` in general fits our needs. As it is written in `JavaScript` the language won't be an issue. Although, I would aim for a development in `TypeScript` hopefully leading to a less error prone implementation.
Here is an overview o

[2019-05-10 09:34] subwaystation commented on #1
I think one key question we should answer first is the following:
In terms of efficiency, is it necessary to access the C++ code directly via JavaScript bindings or should we access `vg` via the command line.

- C++ Bindings:
-- The graph and it's indices are kept in RAM (huge amount of RAM necessary).
-- We will have the best access efficiency.
-- Much higher implementation effort due to binding

[2019-05-10 10:10] ekg commented on #1
There are disk based indexes for .vg graphs and read sets. However, this doesn't and can't really exist for GBWT (haplotype indexes). Also, you get a lot of functionality from the .xg index that probably can't be ignored.

Loading these indexes into RAM can take a long time depending on the system, and uses something like 40G (~20 for each GBWT and xg) for the 1000GP graph. It is not possible to l

[2019-05-10 10:23] subwaystation commented on #1
Thank you very much for the feedback. A well defined API is a good idea. As we will need as much speed as possible a RESTful API is not a applicable here, I think. We should aim for an API which makes use of WebSockets.
So from my understanding, Erik's summarization points into the direction that we will need the C++ bindings. Else we could not store a graph index in RAM.

Just to clarify @ekg Sho

[2019-05-10 10:30] josiahseaman commented on #1
@ subwaystation I don't think the speed limitation on Restful API is relevant here.  We need high payload, but latency is not as relevant, since the server isn't rendering.  "Once established, a websocket connection does not have to send headers with its messages so we can expect the total data transfer per message to be less than an equivalent HTTP request. ... This difference will be less signif

[2019-05-10 10:39] ekg commented on #1
As the graph isn't changing, we could be RESTful. You are worried about performance?

[2019-05-10 10:40] ekg commented on #1
The graph is equivalently encoded in the xg index, which stores the full vg data model. You don't need to store the .vg serialized graph in memory.

The GBWT would also need to be in memory should we want to use the haplotypes in the visualization. An index of the read set would have to be held in memory should we want to display alignments.

[2019-05-10 10:45] josiahseaman commented on #1
Here's the stack that I would propose based on my fullstack dev experience.  I'll leave some comments on tradeoffs and options.

## Proposed Technology Stack
* VG Server - standard install, preferably in the same Docker container for others to reuse
* Python to C++ bindings - Python is implemented in C and runs just as fast.  Python is the preferred bioinformatics language with loads of packages w

[2019-05-10 10:58] subwaystation commented on #1
I agree that in terms of payload, we do not necessarily need a WebSocket connection.
But assuming we have ~100-1000 concurrent connections (is this an application case?) accessing the server, a server can handle these requests more efficiently with an open WebSocket connection compared to HTTP requests [src](https://cdn-images-1.medium.com/max/1000/1*K3ZOqQm5sEPpBi9ynYzL4Q.png).

@josiahseaman I w

[2019-05-10 11:06] josiahseaman commented on #1
I'm not concerned about latency, but requests per second _may_ matter if what is being requested is unpredictable.  I noticed on the page you link Python has two of the 5 top slots for requests per second.
#### Requests per seconds
1️⃣ (agoo-c) (c)
2️⃣ (japronto) (python)
3️⃣ (actix-web) (rust)
4️⃣ (kore) (c)
5️⃣ (vibora) (python)
All 5 are C variants including Rust and Python.  I was just reading

[2019-05-10 13:12] 6br commented on #1
The biggest issue with WebSocket is that users need to install a self root certificate with their web browser when they want to launch a local instance of the genome browser. The exception to that argument might be that WebSocket works better if we need one of (1) peer-to-peer connection possibly over IP masquerade, (2) much shorter latency, (3) enforced encryption, or (4) millions of short commun

[2019-05-10 13:30] 6br commented on #1
From my experience that I implemented [backend server in MoMI-G](https://github.com/MoMI-G/MoMI-G_backend), we should consider whether a graph format conversion algorithm is implemented on a backend server or vg binary/libraries. Because there is no single vg command to extract all information to visualize, I implemented MoMI-G backend to call vg binary multiple times. For example, MoMI-G backend

[2019-05-10 14:26] josiahseaman commented on #1
I agree with everything you're saying about performance.  Now that we've laid out the requirements, I think we are going to need a heavy backend that speaks fluent VG.  Using Python bindings into the VG library will allow the kind of debugging you're talking about.  One advantage would be [Pandas](https://www.learnpython.org/en/Pandas_Basics), which is a python library with very fast table manipul

[2019-05-10 21:41] 6br commented on #1
I think that the backend server should not access vg via C++ bindings because it becomes very difficult to debug once it causes segfault; we cannot reproduce the segfault. Also, it takes a long time to compile if the backend server links to the vg library, that makes debugging difficult. Therefore, I recommend that backend server connects to the server mode of vg via socket. Doing so, we can separ

[2019-05-11 10:35] subwaystation commented on #1
@josiahseaman If everyone focuses on their areas of expertise solely we will see the fastest implementation process, but then we would learn the least, I expect? I would also wish to do a lot of implementation in D3, but open to help out in any part of the project.

@6br **About WebSockets:** I would expect that we need low latency, too. From my understanding, if a user browses constantly, new sub

[2019-05-13 07:04] 6br commented on #1
I am interested in the development of the backend server including a novel layout algorithm for pre-rendering, a rich genome graph format, and/or additional “overview” view.
About vg server backend, I wrote down a simple idea on https://github.com/vgteam/vg/issues/1343. C++ binding requires us much effort to follow continuous updates of vg. Instead, my intention is that server mode of vg and backe

[2019-05-15 08:46] josiahseaman opened #2 "Building a VG and SequenceTubeMap Docker Container"
Currently, VG is automatically built in a docker container.  SequenceTubeMap instructions say their Docker container is out of date and recommend building using npm or yarn.  **Goal:** Create a new Docker container with VG and SequenceTubeMap that can be used for a Demo server with custom data and deployed on Google Cloud services.

`/vg/sequenceTubeMap# node --version`
`v4.2.6`

### Progress So F

[2019-05-15 08:55] subwaystation commented on #2
Could you please add the Dockerfile somewhere? So we could help you out :)

[2019-05-15 09:40] josiahseaman commented on #2
I'd like to do that.  I'm a complete noob when it comes to Docker.  It looks like I've got basic SequenceTubeMap up without port forwarding. So I'll post the file and see what setup needs done.  I'd like to put this up on the cloud so we can load our own data for display.

[2019-05-15 10:15] josiahseaman commented on #2
Any guidance on how to grab the file in windows and share it with you?  I have a working server, though it seems like the files are safely tucked away *inside* a virtual hard disk that I can't access.  "C:\Users\Public\Documents\Hyper-V\Virtual hard disks\MobyLinuxVM.vhdx"

[2019-05-15 10:20] subwaystation commented on #2
I do not have any experience with a LinuxVM in Windows. Can't you mount your Windows file system into the VM and then write the file somewhere there? Just a wild suggestion.

[2019-05-15 10:24] josiahseaman commented on #2
Here's the file download created using `docker save -o tubemap_server.tar tubemap_server`
https://drive.google.com/open?id=1I7yQw4hcvSRZA57vz9VB2tC8rxV2AkHl

You can [ostensibly load it](https://stackoverflow.com/questions/28334706/how-to-package-a-docker-image-in-a-single-file#28364045) using `sudo docker load --input tubemap_server.tar`.

Once you load it, you'll likely need the commands listed

[2019-05-15 11:11] subwaystation commented on #2
Thanks!
So what I meant was the Dockerfile from which you created the docker image, so I could build it on my own. Maybe your way was faster anyhow.

I got your setup to run, as follows:
`docker run -p 127.0.0.1:3000:3000 -it 9ac2d839e36f /bin/bash`
then
`cd sequenceTubeMap`
either
`node src/server.js ` or `yarn serve` works for me.
Just go to [http://127.0.0.1:3000/](http://127.0.0.1:3000/) and t

[2019-05-15 11:17] subwaystation commented on #2
So I would recommend when you build the docker image, that you directly `cd` into `sequenceTubeMap`.
Then you should be able to run the image without having to navigate in it via:
`docker run -d -p 127.0.0.1:3000:3000 -9ac2d839e36f yarn serve` and run it as a deamon.

[2019-05-15 11:20] subwaystation commented on #2
What I would like to have on the long run is that we have `Bioconda` packages for both `vg` and `sequenceTubeMap` and then we can build a docker image very easily.
That has been established as a sort of `best practice` in pipeline development in [https://github.com/nf-core](https://github.com/nf-core) where people already have a lot of experience with docker.

[2019-05-15 14:10] josiahseaman commented on #2
Would you like to make those changes and push the container to docker hub?  Here's the instructions:
https://stackoverflow.com/questions/28334706/how-to-package-a-docker-image-in-a-single-file

[2019-05-15 14:30] subwaystation commented on #2
I can do that. Might just take some time, especially because `vg` is not so easy to compile. If you expect results in the next 2 weeks I would not count on that.
`Bioconda`: [Bioconda Github](https://github.com/bioconda/bioconda-recipes)

- [ ] Create recipe of `vg` in `Bioconda`.
- [ ] Create recipe of `sequenceTubeMap` in `Bioconda`.
- [ ] Create docker image using `Bioconda` environment.yml as

[2019-05-15 14:31] subwaystation commented on #2
For a better starting point, could you please send me the Dockerfile for you image?
Thanks ;)

[2019-05-15 14:34] josiahseaman commented on #2
You did get this file right?  https://drive.google.com/open?id=1I7yQw4hcvSRZA57vz9VB2tC8rxV2AkHl

The base here is [vg-docker that is already built by the VG team](https://github.com/vgteam/vg_docker).  I just installed SequenceTubeMap inside the same docker.  [Following these instructions](https://github.com/vgteam/sequenceTubeMap).

My initial command was:
[code]

[2019-05-15 14:39] subwaystation commented on #2
Yes :)

Ah I see. So you directly manipiulated the image and not the [Dockerfile](https://github.com/vgteam/vg/blob/master/vgci/Dockerfile.vgci) itself. Now I have a clear picture.

[2019-05-15 14:51] josiahseaman commented on #2
This started as a one day test to see whether I could server SequenceTubeMap and VG out of a Docker image at all.  It looks like it's doable, which means it could go back into a DockerFile to be done properly.  Though for my purposes I only need to move the file once to get it on a cloud server with 1001 Genomes data loaded.

[2019-05-20 14:39] josiahseaman commented on #2
I agree.  In the short term, I just want a demo up and running with some of our data.

[2019-05-20 14:43] subwaystation commented on #2
Which should be possible with your current docker image, right?
Or shall I push the current image to [https://hub.docker.com/](https://hub.docker.com/)?
As soon as the `vg` and `TubeMap` are in `Bioconda` I will create a clean Dockerfile and build the container again.

[2019-05-23 13:34] subwaystation commented on #1
We might also want to take a look at https://neo4j.com/developer/graph-database/. Sounds interesting, but I don't know, if they support GFA, etc. I think they focus on the representation of _classical_ graphs. Without our genome variation graph we have a very special case.

So far our graph database would basically be a graph generated by `vg`.

[2019-05-31 09:08] 6br commented on #1
I considered the advantages and disadvantages for a few weeks. Rust is an awesome language on system programming, and we can write fast codes thanks to ownership system without considering memory leaks in general. However, if we wish to implement graph algorithms, ownership may collapse and we have no choice but using an `unsafe` directive. Also, due to the lack of GC, allocating and freeing small

[2019-05-31 09:28] ekg commented on #1
I have some doubts that the neo4j backend would scale to the graph and path
sizes we have while retaining efficiency for the kinds of queries we need
(e.g. path position stuff). I think it will actually be pretty easy to wrap
an xg index in the server logic that's needed.

On Thu, May 23, 2019, 15:34 Simon Heumos <notifications@github.com> wrote:

[2019-05-31 10:11] josiahseaman commented on #1
@6br Thank you for carefully considering this.  If given the choice between Python and GO, I would pick Python because there's a greater chance of collaborators being familiar with Python.  As much as I like GO, most bioinformatics libraries are in Python. So hopefully we can leverage those as well, particularly for file format I/O.  @6br How familiar are you with Python currently?  It's a pretty

[2019-05-31 13:04] subwaystation commented on #1
@ekg thanks, so we will go with the xg index in the server logic way.

@6br [Here](https://www.netguru.com/blog/python-frameworks-comparison) is an overview of Python webframeworks. I think `flask` would give us a good start. It also supports web-sockets and is a comparatively matured piece of software.

[2019-05-31 14:24] joehagmann commented on #1
Hi guys, I'm Jörg from Computomics. Thanks for all the ripe thoughts up to now.

Since I don't really have web development experience, I can't add too much to this discussion (there might be other people getting involved later on). I trust your judgements and expertise.

I just want to point out that our challenge is to build a scalable visualization that can cope with many large and complex genom

[2019-06-01 03:36] 6br commented on #1
@josiahseaman Thank you for your comment. I have development experience in Python, so using Python is a good choice for me.
@subwaystation Thank you for your advice. I will check the overview.
@superjox Hi, Jörg, nice to e-meet you. I see your point. Do you have any recommendation framework?

[2019-06-01 08:38] subwaystation commented on #1
@6br You are welcome ;) [Techempower_Benchmakrs](https://www.techempower.com/benchmarks/#section=data-r17&hw=ph&test=query&l=zijmrj-1) shows another great overview of web frameworks. Except in the category `JSON serialization` most of the frameworks implemented in `Go` are clearly faster than the `Python` ones. From a development effort point of view, I am definitely pro `Python`, but I am a littl

[2019-06-03 15:16] josiahseaman commented on #2
@subwaystation , do you have any opinions on whether we should use one or more docker containers for this project and for vg browser in general?  It's a new concept to me, so I have no opinion.  [https://docker-curriculum.com/#multi-container-environments](https://docker-curriculum.com/#multi-container-environments)

[2019-06-04 09:14] subwaystation commented on #2
@josiahseaman multi-container environments are a new concept for me. I will discuss this with a colleague of mine, who has a lot of experience with docker. Then I will make a suggestion.

[2019-06-06 08:23] josiahseaman commented on #2
Here's my complete notes on successful commands.  Note at the beginning I relied on using bash to edit the instance.  It would still be nice to make a DockerFile with docker compose for updating to the latest VG and SequenceTubeMap versions.  However, at the moment the interactive edit and commit is useful for packaging our demo data files directly into the Docker container.

[code]
 resumes my ed

[2019-06-06 08:23] #2 closed, assigned to subwaystation

[2019-06-11 09:53] josiahseaman opened #3 "Roadmap: Graph Summarization"
Implement a method of summarizing the variation inside of a graph.
* Drop out small, uncorrelated variation as noise while preserving correlated variation and building them into haplotype blocks.
* Iterative process of summarization for different zoom levels
* Strategies for summarizing different types of structures are described in our Google Doc.

## Prototype Progress
- [x] Graph Summarization

[2019-06-11 13:51] josiahseaman commented on #1
### Josiah on Websockets
((Reposted from the Google Doc))
1. The difference between REST and websockets for us won’t be that big.
2. I’m open to using websockets, whatever is easiest with the other technologies.  Django does websockets just fine.
3. We’re only going to be transferring <1MB of JSON every 10-20 seconds from 2-4 requests.

From the Computer Science side, I’ll explain why websockets a

[2019-06-11 13:53] 6br opened #4 "Backend Graph Specification"
((Updated by Josiah 2019-07-10))
((Updated by Josiah 2019-08-15: Removed PathIndex and Slices))
## Version 1 - Basics
* GraphGenome is the top level object which holds references to:
  * The set of all nodes in the Graph by uuid
  * Set of all Paths in the Graph by accession name
    * One path per accession (contiguous). Each chromosome = ?
  * Method for topological sort  to present graph nodes

[2019-06-11 14:14] 6br commented on #4
#### Version 2 - Summary Layers
* GraphGenome has a list of SummaryLayers, at increasing levels of summarization.
* Node Changes:
  * Node has link to `summary_parent`: a node in the next SummaryLayer up.
  * Backlinks from one node can lead to multiple, more specific nodes when zooming in.
* Nodes: Tracking Alternative Haplotypes
  * While summarizing some sequence information was lost.  We need

[2019-06-11 14:40] josiahseaman commented on #4
- [x] Did you end up choosing Node storing a Path index, or Nodes and Paths both pointing to an Intersection object?  Both versions are currently in the spec.  Once you've decided, let's remove the redundant spec.
- [x] In version 2, checkpoints should probably be their own object.  Paths would contain a list of segments with a checkpoint at the beginning of every segment.  I'm still not convinced

[2019-06-11 14:59] josiahseaman commented on #1
## Python numpy array transfer
Ben Jeffrey, the developer of Panoptes pointed out some code that might be helpful to us for performance.  @6br you might want to check this out when you have time.  Panoptes is very responsive.

"Panoptes works on linear genomes only, so I'm not sure there is much you could re-use, although you might find some of the arraybuffer techniques I use for sending large nu

[2019-06-11 17:18] ekg commented on #1
I agree that the major problem is not performance, but human understanding of the renderings we're making. This suggests that we should be focusing on rendering / layout models that are scalable and human readable. What exactly these look like isn't clear to me. I've obviously explored a linear model, but I think that has its own problems. Perhaps there is a middle road to be had, or different mod

[2019-06-12 08:55] 6br commented on #4
For the first issue, I prefer to store a Path index into Node. Because it is simpler than using Intersection object.

[2019-06-12 15:35] 6br commented on #4
For the second issue, checkpoints seem ad-hoc ideas to represent nucleotide coordinates on paths, but they are useful when users wish to understand what part of the whole genome do they see. Suppose if paths contain a list of segments with a checkpoint, and if you want to merge two segments across the checkpoint, then it becomes unclear how to handle the checkpoint. However, if you specify checkpo

[2019-06-12 15:36] 6br opened #5 "Graph Summarization Development Options"
## Development Options
1. Extend VG / XG with our new Graph Summarization Concepts
2. Summary is stored in our database, XG still used at nucleotide level
3. Import entire XG graph into our database, then add summary layers

[2019-06-12 15:52] ekg commented on #5
You might think about subclassing the XG object somehow, or adding additional indexes on top of / independently of it.

[2019-06-13 09:03] josiahseaman commented on #4
Check points are ad hoc, but they may scale very nicely all the same.  To be clear, checkpoints are just a speed optimization feature.  It's possible to start at the beginning of a path and count every nucleotide in every node until you reach the index you are looking for.  Checkpoints are just a precomputed sum stored haphazardly throughout the path.  So you can delete a checkpoint and nothing ba

[2019-06-13 09:31] 6br commented on #5
I am considering how to implement web backend. There are three choices described above.
Graph summarization adds several layers on top of the original graph genome. The lowest layer is the original "full" graph, and the highest layer is a kind of "bird's eyes view". and each layer has a smaller graph than the lower layer. Each node of a smaller graph has a pointer to several nodes of the lower lay

[2019-06-13 09:40] 6br commented on #5
Alternative idea is that we have our own database for summary layers. To summarize graphs in the database, we need to prefetch all graphs into our database. The upside is that we can easily update our data model for visualization, but the downside is that might be redundant and might not be compatible with new versions.

[2019-06-13 09:58] ekg commented on #4
@josiahseaman what's a TAIR10 coordinate?

In vg we have the xg index, which handles coordinate mappings of the graph. I've submitted a proposal for the upcoming Biohackathon that extends this model with a server interface that could be used by graph genome browsers.

[2019-06-13 09:59] ekg commented on #5
@6br I think we should build from, not into the xg index. We can extend it with these kinds of indexes, maybe be precomputing summarized views and storing them in separate indexes, then translating between them as needed with a separate system that links them together.

I think the idea of keeping your own database is fine too, and basically the same as this, it all depends on how much you optimiz

[2019-06-13 10:17] josiahseaman commented on #4
Great! That sounds like exactly what we're looking for.  So we'd use the service you create at BioHackathon in combination with the links from node to summary node (Version 2 - Summary Stacks) to be able to find for example, the beginning and end node at zoom level 3 corresponding to nucleotides 23,758,110 and 45,687,084.  That'd be two calls to Erik's service and three lookups to iterate up zoom

[2019-06-13 10:53] josiahseaman commented on #5
I believe these summary graphs will be useful for more than just visualization.  Fundamentally, what I'm designing it to do is to group together haplotype blocks and iteratively find informative boundaries.  That'd be a very useful precompute step to any other analysis.  Working with less nodes that are less noisy would be a good place to start for other researchers.

The difference between 1 and

[2019-06-13 12:47] ekg commented on #4
xg provides graph to genome path position mappings. That's pretty much the basis for these assembly coordinate systems.

[2019-06-13 12:57] 6br commented on #1
Technology stacks depend on #5.
If we select 1 or 2, the backend server might be light-weight (like python flask). If we select 3, then the backend server might be heavier because we need index systems for the graph. We will benefit from a database migration system seen in Django if we use RDBMS as a backend database, but however, graph data seems difficult to convert to the table data like MySQL

[2019-06-17 07:49] 6br commented on #4
My goal: I have a python data interface to interact with xg server on version 1.

[2019-06-17 07:52] josiahseaman commented on #3
My Goal for this week is adding sequence and sequence identity penalties into my summarization prototype.

[2019-06-24 08:02] josiahseaman commented on #4
Toshiyuki:
"We have several candidates to worth trying as a backend data store. First I tried xg. Erik will implement a server version of xg, but it is not yet available. So, I decided to use a binary version of xg so far. Next, we need to interact with xg using GFA format. I searched the library to represent gfa format, and I found gfapy. But, due to dialects of GFA format, the output of gfapy an

[2019-06-24 08:05] josiahseaman commented on #4
This week:
- [x] I'll split out my Graph object code to a python file and push it to GitHub.
- [x] Toshiyuki will add import from GFA or VG into our python object format.
- [x] Finish Graph summarization with sequence for Split_vertical, propagate_split, merge_horizontal

[2019-06-27 07:59] josiahseaman commented on #3
I've read "Distribution of recombination crossovers and the origin of haplotype blocks" (Wang et al. 2002) and "The structure of haplotype blocks in the human genome" (Gabriel 2002).  The first paper points to the _4 Gamete Test_ for recombination points outlined in (Kaplan 1985).  The approach appeals to me because it's very binary and easily implemented.  We'd eventually want to upgrade to (Gabr

[2019-07-01 07:21] josiahseaman commented on #3
May also be relevant:
![image](https://user-images.githubusercontent.com/2256148/60176190-7c5d5900-980d-11e9-8561-de262f3c5828.png)

From 2004 Paper: https://academic.oup.com/bioinformatics/article/21/2/263/186662

[2019-07-01 13:41] josiahseaman commented on #3
# Haploblocker
http://dx.doi.org/10.1534/genetics.119.302283
https://www.genetics.org/content/genetics/early/2019/05/31/genetics.119.302283.full.pdf

Haploblocker looks like they have a lot of reusable concepts and methods.  Figure 2 (below) looks very similar to the graph summarization algorithm that I specced out and prototyped for graph genomes.  The key unexpected similarity is that they use S

[2019-07-03 12:19] josiahseaman commented on #3
## Adapting Haploblocker method to Graph Genomes
Many of the concepts transfer 1:1.  I suppose "Great minds think alike."
Simple Merge (SM) = Merge Horizontal
Split Group (SG) = Split Vertical
Neglect Node (NN) = Merge Vertical
Extended-block-identification = Migrate Paths (which I had also marked optional)

The question of what order to do the operations in is answered by the paper: "we first alt

[2019-07-03 16:16] ekg commented on #3
The slices concept is a limited version of that of bubbles. See
"Superbubbles, Ultrabubbles and Cacti"
https://www.biorxiv.org/content/10.1101/101493v1.

The most general version of these structures are called "snarls". In vg,
there is a method to decompose the graph into a set of snarls. However,
this implementation has some scaling problems. The snarl tree would be the
thing you'd like to use he

[2019-07-03 17:07] josiahseaman commented on #3
Thank you for the tip Eric!  I was thinking of slices as a very limited
scope of the beginning of a bubble. But if we can get a local snarl at any
point in the graph, that's terrific.  I'll have to look at the technical
details to see how far that can be taken. I was hoping to do it iteratively
while summarizing.

On Wed, Jul 3, 2019, 17:16 Erik Garrison <notifications@github.com> wrote:

[2019-07-03 17:14] ekg commented on #3
I actually think that the snarl decomposition can be problematic, and I'm interested in a path-based method to determine this. Maybe that's more similar to the slices you're describing. The idea would be to find regions where you have colinear-ish alignment between different paths in the graph. Within these chains, places where they don't match are bubbles, and these can be identified by the start

[2019-07-03 18:41] josiahseaman commented on #3
Complex structures should be ignored by designed because those are areas
where we don't want to oversimplify. Slices are for the very common very
simple case. I'd like to still keep my graph a graph where it's locally
complicated, especially if that is rare.

On Wed, Jul 3, 2019, 18:14 Erik Garrison <notifications@github.com> wrote:

[2019-07-05 17:04] ekg commented on #3
@josiahseaman how is this all related to the variable length markov chains used in Beagle?

[2019-07-08 08:59] josiahseaman commented on #3
@ekg I wasn't familiar with Beagle.  Looking through Browning's 2006 and 2007 papers I can see there's similarities but I'm not 100% sure how to translate it.  I'm talking with the author of Haploblocker today, who I'm hoping has more experience with the wider literature than myself.  What would you propose we use from the lesson learned with Beagle?  If there is an adjustable graph summarization

[2019-07-09 08:39] josiahseaman opened #10 "Tox added to Travis CI"

[2019-07-09 09:19] subwaystation opened #11 "Bring our repository into shape"
We should try to start with a clean repository. How about we stick to or start again with:
https://github.com/audreyr/cookiecutter-pypackage?
Maybe we should do this, before we setup Travis CI and solve #10 .

[2019-07-09 16:07] tpook92 commented on #3
A couple of thoughts on the use of HaploBlocker for zooming etc.

### Merge Vertical + Data quality
I think merge vertical is much more similar to allowing for 1 error/deviation per 20 markers than what I call neglect nodes. In neglect nodes I am removing haplotypes locally from the cluster. By this rare variants (which will not be in any haplotype block later) are not further considered - not sur

[2019-07-09 16:49] josiahseaman commented on #4
As I was working on commit 098b4cbcf8ceb0375a0138ddb084566d6934fe79 I was taking notes for @6br .  There were a couple of decisions I wasn't sure about.  The big change was the lack of slices in Graph class.  Instead, everything is just Nodes and Paths.  I ended up keeping dictionaries of both which should be replaced with a database lookup in the future.

I managed to replace GFA.to_graph with on

[2019-07-10 01:26] 6br commented on #4
Thank you for your comments.
Your modification for GFA.to_graph is reasonable because you decided to change the declaration of Graph class. Then, I will move the algorithms to convert paths to slices to the other method. I think slices should be managed in our backend server, so it makes sense to implement these algorithms by ourselves.

As long as we use paths as the internal structure, then we d

[2019-07-10 08:51] 6br opened #13 "DAGify of graphs to convert paths into slices"
DAGify is the first step to convert paths into slices for graphs that we cannot assume that the graphs are already directed acyclic graph.

[2019-07-10 09:38] subwaystation commented on #1
@josiahseaman
I see myself and websockets more as a functional couple! As we both have a progressive view of life, marriage is optional, but not a necessary requirement.

[Reposted from Google Doc]

I think the biggest difference between using REST and websockets is that REST will give us ~1.5 brains, whereas ws will give us 2.0 brains:

  | REST (http) | Websocket (ws)
-- | -- | --
Implementation

[2019-07-10 10:21] josiahseaman commented on #4
Node should definitely have an ID, it's currently the key in my node
dictionary. I'm uncomfortable with this implementation because it should be
a database lookup, but we haven't started django or flare yet.  We need to
get your branch and mine merged ASAP.  If you've decided on flare, we need
it for node id tracking.

In going to subclass Graph to SlicedGraph, so we can separate sort and
slicing

[2019-07-10 10:23] josiahseaman commented on #4
Minor note: node name should be have + that's path specific, not specific
to the node.

On Wed, Jul 10, 2019, 11:21 Josiah Seaman <josiah.seaman@gmail.com> wrote:

[2019-07-11 02:36] 6br commented on #4
I confirmed modifications on NodeTraversal and PathIndex.

[2019-07-18 12:00] subwaystation commented on #10
I still have to integrate [tox](https://tox.readthedocs.io/en/latest/) into our project.

[2019-07-19 15:15] 6br commented on #13
There are procedures in visualizing graphs:

1. Retrieve a subgraph from the whole graph by tracing the nodes from the initial node.  (I have not implemented yet because I think it is enough to use `vg chunk` command in MVP, but we need to implement the algorithm in future, whose algorithm is as written by Josiah.)
2. DAGify nodes to determine the order of nodes from the input. First, select the f

[2019-07-23 12:44] tpook92 opened #19 "Use of HaploBlocker principle for zooming"
Goal: Reduction of the number of nodes in a variation graph
Exemplary numbers using 501 maize DHs (32767 SNPs on chromosome 10).
1.	Derivation of a window cluster – Alternatively just use single SNPs
Window Cluster with 6.226 Nodes
Single SNP approaches are possible but probably require the use of Merge Vertial // neglect nodes to get rid of calling errors etc and heavily reduce number of markers!

[2019-07-23 15:53] josiahseaman commented on #1
Since this discussion we've agreed that WebSockets can be used without encryption meaning we can run a local server without onerous setup.  We'll use websockets immediately.  To date, no database framework has been used.  Toshiyuki is working on other projects for the next 6 weeks, so the database will be implemented by me.  I'm setting up using Django simply because I'm familiar with it, it has a

[2019-07-23 15:53] #1 closed, assigned to nobody

[2019-07-25 13:53] subwaystation commented on #1
Although, the topic is closed, I still want to give my opinion based on a brief internet research:

https://www.fullstackpython.com/websockets.html
https://www.reddit.com/r/Python/comments/560gov/flask_or_django/
https://news.ycombinator.com/item?id=14690638
https://hackernoon.com/django-too-big-flask-too-small-tornado-just-right-d5d002586bbc
https://www.quora.com/Should-I-use-Django-channels-or-D

[2019-07-26 07:46] subwaystation opened #20 "Replace NodeJS backend in SeqTubeMap with Django"
I need to get familiar with Django and a first nice exercise to do this would be to port the current SeqTubeMap Node.js backend to Django.

[2019-07-26 07:51] subwaystation opened #21 "Teach Travis how it can use Django"
Currently, Travis is not happy with our Django setup:
![image](https://user-images.githubusercontent.com/10184961/61935473-e2fba100-af8a-11e9-87a6-139f1ed2e873.png)

As I have the same issue on my local machine, maybe @josiahseaman could help me resolve this?
Thanks ;)

[2019-08-13 15:20] josiahseaman commented on #21
Good news!  I figured it out.  It was a matter of dependencies.
I found watching the [Travis page](https://travis-ci.org/graph-genome/vgbrowser) very helpful.

715b0cf661fc2f53d06e895b8ec71f411247f23f
0e04a2332d85b2788f26e365387388eed7733a1e
968522f9a936e68d7f58aaf748880722a9419a47

[2019-08-13 15:20] #21 closed, assigned to subwaystation

[2019-08-13 15:24] josiahseaman commented on #20
Interesting.  How complex is the SeqTubeMap backend?  I was expecting we might treat SequenceTubeMap as an external service and talk through json for renders.  But I hadn't gotten far into figuring out how tightly coupled the components were.  I fully endorse familiarizing and integrating, but also know it's okay to have components stand alone as long as there's clearly defined interfaces and the

[2019-08-13 15:26] josiahseaman commented on #11
I think we can agree we've fulfilled this now that we have Django apps and Travis integration.  Thanks for your help!

[2019-08-13 15:26] #11 closed, assigned to subwaystation

[2019-08-13 15:37] josiahseaman opened #23 "Roadmap: Integrate HaploBlocker into Database objects"
Followup #19.
https://docs.google.com/document/d/1o_IWThHWK4qyyXk3-X4rZ2KJNGTbf-pPCRhzVmnQ1Xg/edit#
Much of haplonetwork.py needs to be rewritten to use Graph.models objects.  Strand support could come at the same time or as a separate step.

Haplonetwork.py should use Graph.Node.
* upstream/downstream compared to Paths
* Should allow copy number variation in a Node to work inside Haploblocker

**

[2019-08-13 15:43] josiahseaman opened #24 "Prototype Visualization Frontend"
[Gdoc Documentation](https://docs.google.com/document/d/1mpYa11NRGEdMZAtNBeUHXv_WFiHD_IRqZRXHVIaOFUY/edit#heading=h.4f6omwdxebl9)
We will need a visualization capability to be able to visualize and browse our test data sets.  It would be great to start with the functionality of IVG or MoMI-G.  One way of doing this would be to figure out the minimum input data required for SequenceTubemap as a ser

[2019-08-13 15:44] josiahseaman commented on #3
## Status Update: Python HaploBlocker is running - 13 August
Torsten and I have been working to develop a Jupyter notebook implementation of the first three steps of HaploBlocker.  Input data and tests are feature equivalent.  It was very useful to have a working R implementation to compare against for tests.

I then created a Django app and migrated the code and concepts into HaploBlocker/haplone

[2019-08-15 08:48] subwaystation commented on #20
In his [MoMI-G](https://github.com/MoMI-G/MoMI-G/), @6br had his [backend](https://github.com/MoMI-G/MoMI-G_backend) seperate from the frontend. We are currently discussing, what would be the best way to go.

[2019-08-15 09:01] 6br commented on #20
Because MoMI-G provides not only SequenceTubeMap but also other view modules such as Circos, Table, Linear Genome Browser, ...., and so on, I decided to separate between backend and frontend implementation. So, MoMI-G is one of an alternative backend implementation for SequenceTubeMap. I think that the modular approach is easy for development and debugging if we would like to provide a rich user-i

[2019-08-15 09:17] subwaystation commented on #20
I agree, that an isolated development of both parts of the implementation should be easier to do and easier to debug. Testing both together is then straightforward, too?
Furthermore, we would have to define perfect interfaces between backend and frontend, because it is highly likely, that they will be implemented by different people, right? @6br
@6br just mentioned to me, that our modular approach

[2019-08-15 10:02] 6br commented on #20
Yes, recent advancement of container technology mitigated the burden of deployment and development. If we can provide a container including both backend and frontend working out of the box, then testing both becomes straightforward. Also, I agree with the second part that we need to define an API between backend and frontend.
At last, if we provide a docker image and/or a bioconda package, then th

[2019-08-15 11:08] josiahseaman commented on #5
Further discussion in the following month has led pretty conclusively to an approach where we support import from both XG and GFA.  Our database can handle the "new feature concepts" of links between summary layers and aggregation of paths into haplotypes and ribbons.  Then we can export to XG file formats and still be intercompatible with other tools.  This seems the best of both worlds and doesn

[2019-08-15 11:40] subwaystation commented on #20
Summarizing, both @6br and I favour a separated front-end and back-end.
I see the following options:

**back-end:**
- STM (Node.js)
- MoMi-G (Rust)
- vgbrowser (Python)

As we already have started our back-end using Django, it is kind of obvious, we select the 3rd option. This would mean, I will have to extend our current implementation so that it is able to serve an appropriate JSON, which is rea

[2019-08-15 11:49] ekg commented on #5
To store the graphs in RAM efficiently you might be looking at something
very similar to the various HandleGraph implementations like xg. GFA is
only an interchange format. The HandleGraphs are self indexes that allow
random access by any feature of the graph.

XG presents a HandleGraph interface, but is unique in allowing random query
of path (sequence or reference) positions. We can find what pa

[2019-08-15 12:25] 6br commented on #20
In backend, the backend of STM is not so complicated. So it can be ported to Python (or Rust) if we start from the GFA-json. I agree with the python implementation considering that we need to do a lot of trials and errors and Django supports WebSockets. Also, we should work with the server on top of xg https://github.com/graph-genome/vgbrowser/issues/5#issuecomment-521614662. I am happy if I can d

[2019-08-15 13:16] subwaystation commented on #20
The fastest way to get a demo for the hackathon is to take the front-end code of STM and extend our back-end accordingly, effectively presenting the current IVG user interface. In addition, the front-end code will be extended so that it can handle our block structure and people can switch between zoom levels.

All other additional features we want to have are optional or can be discussed and imple

[2019-08-16 09:57] josiahseaman commented on #5
Thank you for your comment, Erik.  HandleGraph is probably relevant to us.  Does this require storing the whole graph in memory?  I don't quite have the mental bandwidth to think through it all right now, so please allow me to think out loud.  I'm pretty sure a database would have the same O(1) Node retrieval or O(log N) binary search on paths.  The difference may be that a DB handles paging to me

[2019-08-16 10:54] ekg commented on #5
I agree with you that a database is sufficient and vastly more flexible.
The subtext here is that the size of the graphs can be very large if they
are stored in uncompressed form. If we use even a handful of pointers and
64-bit integers per node or edge in the graph, we're going to run into
storage costs in the terabyte range for just the 1000GP small variant
graph. The implementations we've made

[2019-08-19 12:19] josiahseaman commented on #5
Hi Erik,
I will take your recommendation seriously.  I hadn't done the storage size calculations yet, but I'd wager the DB is 2-4x your optimized size.  In order to make an overlay for our summary connections we're going to need those DB objects anyways.  I would plan that if storage or performance becomes an issue that we'll replace the DB object properties that get sequence level nodes with a me

[2019-08-19 13:32] josiahseaman commented on #24
@subwaystation What do you need to get started on the front end?

[2019-08-19 14:55] subwaystation commented on #24
@josiahseaman This is tightly connected with #20. The general aim is to untangle the current IVG implementation into back-end and front-end. IVG's front-end already makes use of React. So,
the front-end we can keep and the back-end will be replaced by a Django solution from my side.
This is the minimum aim for the hackathon, because we have a working tool doing the job we want.

The back-end will

[2019-08-20 09:29] josiahseaman commented on #24
The good news is that everything is the exact same Node -> NodeTraversal ->
Path that matches the GFA conception and should match the existing IVG
conceptual model.  You don't need to worry about haplotype blocks or
summarization or any of that.  Just get us a GFA file loaded (using
GFA.load_from_gfa(); GFA.to_graph()) to the database and send it for
display on the front end.

[2019-08-20 10:18] subwaystation commented on #24
That sounds good.

In the following an example of a graph in JSON formatted to be put into IVG:
[code]
So your plan is to read from GFA (a whole graph, or just a subgraph?), extract the nodes, edges (I think IVG does not even use them) and the paths, format them as above, so that we can directly visualize the GFA with the current IVG implementation?

[2019-08-21 13:37] #4 closed, assigned to 6br

[2019-08-21 13:38] #19 closed, assigned to tpook92

[2019-08-21 13:53] josiahseaman commented on #20
For the bulk of it, I think you need to implement a view in Django that returns a gfaJSON of the whole graph.  The sequence of events goes something like this:
* Django Database has a graph called "test"
* User loads a page with STM and URL /vgbrowser/test/
* STM requests the JSON for 'test'
* Graph.views.get_graph fetches a GraphGenome(name='test') and "renders" it to JSON
* STM read JSON and pro

[2019-08-22 08:48] subwaystation commented on #20
I think I get the whole workflow.

What I am missing is where `vg` steps in? How do we calculate the haplotype blocks from a given `.vg` file? We could even use `vg view` in order to directly produce STM ready JSON files from a given GFA.

Or is your approach aiming at testing our current setup only?

[2019-08-22 08:54] subwaystation commented on #20
Current issue status:

- [X] NodeJS + React Tutorials.
- [X] Split SequenceTubeMap into server and client. --> https://github.com/subwaystation/sequenceTubeMap/tree/split
- [ ] Django + React Tutorials.
- [ ] Replace NodeJS backend with Django backend.
- [ ] Bring @josiahseaman's  backend and mine together.

[2019-08-26 08:39] josiahseaman opened #26 "Converting HaploBlocker to use NodeTraversals"
Currently, we have a working Database that supports ZoomLevels and we have a HaploBlocker algorithm that could produce ZoomLevels.  However, the HaploBlocker implementation doesn't use the same objects and it hasn't been tested on non-linear graphs yet.

- [ ] Object references changed
- [ ] Object construction updated to NodeTraversal.objects.create()
- [ ] Iterating over "all nodes" handled in a

[2019-09-02 02:43] #5 closed, assigned to 6br

[2019-09-02 08:20] subwaystation opened #28 "Database import should discard orphan nodes."
.vg -> .rdf also includes nodes through which not any path goes!
As we do not visualize such nodes, we should get rid of them. odgi my be able to do that for us.

[2019-09-03 02:40] josiahseaman commented on #28
Use Graph.Node.validate()  it checks for Orphans.  💃

[2019-09-03 14:28] 6br opened #29 "Interface of GFA should support our decorated GFA format."
Because our decorated GFA format should not include sequence anymore, we need to allow to remove sequence in GFA format. I will fix the import/export of GFA format in our browser.

[2019-09-03 14:30] ekg commented on #29
We can set the sequence to be `*`.

[2019-09-03 14:49] 6br commented on #29
Also, we need to extend node tags to be included the previous layer's node ids.

[2019-09-04 06:52] josiahseaman commented on #29
I have noticed you can do this by preserving the node name as long as node
name is not restricted to be a dense id.  If node id and name are different
you can get creative in naming.

Josiah Seaman
Bioinformatics and Genome Visualization
Royal Botanic Gardens Kew
+44 775805 6670

On Tue, Sep 3, 2019, 23:49 Toshiyuki Yokoyama <notifications@github.com>
wrote:

[2019-09-04 07:15] ekg commented on #29
Node names in vg-GFA are restricted to be integers, ideally dense ones.

We might need to write a converter though.

On Wed, Sep 4, 2019 at 3:52 PM Josiah Seaman <notifications@github.com>
wrote:

[2019-09-04 07:34] 6br commented on #29
## Decorated GFA - As Data Exchange Format

### Header field:
Header field should include a layer number as follows.

TAG	TYPE	EXAMPLE	DESCRIPTION
LA	i	LA:i:1		The layer number.

### Segment fields:
Segment fields exactly have an optional field. I assume that the segment fields should have a reference to the high level nodes.

TAG	TYPE	EXAMPLE	DESCRIPTION
LN	i	LN:i:1024	Segment length (is used on

[2019-09-04 07:36] josiahseaman commented on #29
Looking at the file format: [GFA Format](http://gfa-spec.github.io/GFA-spec/GFA1.html)
Containment line might allow us to encode summarization links.  Summary nodes contain multiple nodes inside of them.  It's at least worth thinking about:

-------------------------------
## C Containment line
A containment line represents an overlap between two segments where one (the Contained segment) is conta

[2019-09-04 08:01] 6br commented on #29
Okay, I will re-think, and I need to confirm whether VG supports Containment line currently.

[2019-09-04 08:12] josiahseaman commented on #29
I just wanted to mention the option.  But if we go with Matrix Visualization it will be irrelevant anyways.😥

[2019-09-04 11:05] 6br commented on #29
Yes, but however, I am wondering the concept of summarization layers can be usable for any other purpose.

[2019-09-11 15:32] josiahseaman commented on #29
I think we should close this issue until we decide we're actually going to use something that could be called Graph Summarization.  So far, ODGI bin seems to solve the same problem more simply.

[2019-09-11 15:32] #29 closed, assigned to 6br